<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.AccountLogMapper" >
  <insert id="insert">
    insert into t_account_log
    (pk_value,type,amount,gmt_time,info)
    values
    (#{pkValue},#{type},#{amount},#{gmtTime},#{info})
  </insert>

</mapper>